include AUTHORS.md
include CONTRIBUTING.md
include LICENSE
include README.md

graft tests
graft yt_libyt
recursive-exclude * __pycache__
recursive-exclude * *.py[cod]

recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif
