name: Run Tests

on:
  - push
  - pull_request
  - workflow_dispatch
  - workflow_call

jobs:
  test:
    name: Test (pytest)
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python:
          - version: "3.7"
            toxenv: "py37"
          - version: "3.8"
            toxenv: "py38"
          - version: "3.9"
            toxenv: "py39"
          - version: "3.10"
            toxenv: "py310"
          - version: "3.11"
            toxenv: "py311"
          - version: "3.12"
            toxenv: "py312"
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4.7.1
        with:
          python-version: ${{ matrix.python.version }}
      - name: Install tox
        run: |
          python -m pip install --upgrade pip
          python -m pip install tox
      - name: Run pytest
        run: tox -e ${{ matrix.python.toxenv }} -- --html=report.html --self-contained-html
      - name: Upload pytest report
        uses: actions/upload-artifact@v3
        with:
          name: pytest-report-${{ matrix.python.toxenv }}
          path: report.html
